
* {
  box-sizing: border-box;
}

#header-nav {
  background-color: #E5E4E2;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { /* Restaurant name */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a br {
  font-size:1.5em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/* END HEADER */

.our-menu {
  font-size: 175%;
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: bold;
  margin-left:auto;
  margin-right:auto;
  font-family: Arial;
}
p {
	border: 1px solid black;
	width: 90%;
 	margin-right: auto;
  margin-left: auto;
	color: black;
	padding: 10px;
  background-position: center;
}
.title {
	width: 200px;
	height: 50px;
	margin-right: 5%;
	float: right;
	position: relative;
	text-align: center;
	color: white;
  font-size: 1.5em;
}
.chicken{
	background-color: #F52887;
}
.beef{
	background-color: #7F38EC;
}
.seafood{
	background-color: #2554C7;
}
.menu_name {
	background-color: #E5E4E2;
	height: 300px;
	word-wrap: break-word;
	padding-top: 60px;
	line-height: 1.8em;
  background-position: center;
}

.really-tall {
  height: 1000px;
}
.row {
  width: 100%;
}
